<form method="get">
    <div class="d-flex flex-column flex-sm-row justify-content-start gap-2 mb-5">
        <div>
            {{ date_filter_form.start_date.label }}
            {{ date_filter_form.start_date }}
        </div>
        <div>
            {{ date_filter_form.end_date.label }}
            {{ date_filter_form.end_date }}
        </div>
        <button type="submit" class="btn btn-success align-self-end d-sm-grid w-sm-100 mt-2">Filter</button>
        {{ date_filter_form.media }}
    </div>
</form>