{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock extra_styles %}

{% block content %}
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {% if forms.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in forms.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% for form in forms %}
                <div class="mb-3">
                    {{form.label}}
                    {{form}}
                    {{form.errors}}
                </div>
            {% endfor %}
            
            <div class="button-forgot-container">
                <button type="submit" class="btn btn-primary">Login</button>
                <div class="forgot-password">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
        </form>
        
        <div class="signup-link mt-4">
            <p>Don't have an account? <a href="/accounts/signup">Sign up</a></p>
        </div>
    </div>
{% endblock content %}