{% extends 'list_base.html' %}

{% load bootstrap_icons %}

{% block form_url %}{{'form/'}}{% endblock %}

{% block list_app_name %}{% include 'nav/list_app_name.html' with list_app_name='Due Diligence' %}{% endblock list_app_name %}

{% block list_content %}

  {% include 'nav/list_filter.html' with date_filter_form=date_filter_form %}

  {% for item in data.object_list %}
    <h5 class="card-title">Due Diligence {{item.insert_date}}</h5>
    <small class="text-muted">Last updated {{item.update_date}}</small>
    <div class="d-flex flex-column flex-sm-row justify-content-start mb-5 mt-3 gap-2">
      <a href="{% url 'duediligence_pdf' folder=paths.diligence_report_path filename=item.supply_chain_due_diligence_report %}" class="btn btn-info d-flex align-items-center">
        <i class="me-2">{% bs_icon 'file-earmark-text-fill' size='1em' %}</i>
        View Report
      </a>
      <a href="{% url 'duediligence_pdf' folder=paths.third_party_assurances_path filename=item.third_party_assurances %}" class="btn btn-info d-flex align-items-center">
        <i class="me-2">{% bs_icon 'file-earmark-text-fill' size='1em' %}</i>
        View Third Party Assurances
      </a>
      <a class="btn btn-warning d-flex align-items-center" href="form/{{item.id}}">
        <i class="me-2">{% bs_icon 'pencil-square' size='1em' %}</i>
        Update</a>
      <a class="btn btn-danger d-flex align-items-center" href="delete/{{item.id}}">
        <i class="me-2">{% bs_icon 'trash-fill' size='1em' %}</i>
        Delete</a>
    </div>
  {% endfor %}
{% endblock %}

{% block list_footer %}
{% include 'nav/list_footer.html' with data=data %}
{% endblock list_footer %}