<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
    <script src="{% static 'js/adminlte.min.js' %}"></script>
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
   
{% block page_scripts %}
{% endblock page_scripts %}
    