<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
    
    {% block extra_styles %}
    {% endblock extra_styles %}
</head>
<body>
    {% block content %}
    {% endblock content %}

    <script src="{% static 'js/adminlte.min.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>