{% extends 'base.html' %}

{% load bootstrap_icons %}

{% block content %}
    <div class="card">  
        <div class="card-body">  
            <div class="d-flex align-items-center gap-2 my-2">
                <span><a href="{% block back_url %}{% endblock %}" style="color: black;">{% bs_icon 'arrow-left' size='2.5em' %}</a></span>
                {% block app_name %}{% endblock app_name %}
            </div>
            {% block form_content%}
            {% endblock %}
        </div>
    </div>
{% endblock %}