{% extends 'form_base.html' %}

{% load bootstrap_icons %}

{% block back_url %}{{'/labeling/entity'}}{% endblock %}

{% block app_name %}
{% include 'nav/form_app_name.html' with form_type=form_type app_name="Labeling Entity"%}
{% endblock app_name %}

{% block form_content %}
<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {%if message is not None %}
        <h1>{{ message }}</h1>
    {% endif %}
    <div class="mb-3">  
        <label for="labeling_symbol" class="form-label d-flex gap-2">
            Labeling Symbol 
            {% if form_type == 'update' %}
                <span><a href="{% url 'duediligence_pdf' folder=paths.labeling_symbol_path filename=form.labeling_symbol.value %}"
                    class="btn btn-info btn-sm d-flex align-items-center">
                    <i class="me-2">{% bs_icon 'file-earmark-text-fill' %}</i>View</a>
                </span>
            {% endif %}
        </label>
        {{ form.labeling_symbol }}
        {{ form.labeling_symbol.errors }}
    </div>
    <div class="mb-3">
        <label for="labeling_meaning" class="form-label">
            Labeling Meaning
        </label>
        {{ form.labeling_meaning }}
        {{ form.labeling_meaning.errors }}
    </div>
    <div class="mb-3">
        <label for="labeling_subject" class="form-label">Labeling Subject</label>
        {{ form.labeling_subject }}
        {{ form.labeling_subject.errors }}
    </div>
    <button type="submit" class="btn btn-primary d-flex align-items-center"><i class="me-2">{% bs_icon 'floppy-fill' size='1em' %}</i>Submit</button>
</form>
{% endblock form_content %}
    
