<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load bootstrap_icons %}
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

{% include "nav/nav.html" %}

<div class="container mt-5">
    <div class="d-flex align-items-center gap-2 ms-2 my-2">
        <span><a href="/labeling" style="color: black;">{% bs_icon 'arrow-left' size='2.5em' %}</a></span>
        {% if form_type == 'update' %}
            <h1>Update Labeling</h1>
        {% else %}
            <h1>Create Labeling</h1>
        {% endif %}
    </div>
    <div class="d-flex justify-content-center mt-5">  
        <div class="card w-50">  
            <div class="card-body">  
                <form method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    {%if message is not None %}
                        <h1>{{ message }}</h1>
                    {% endif %}
                    <div class="mb-3">
                        <label for="declaration_of_conformity" class="form-label">
                            Declaration Of Conformity
                            {% if form_type == 'edit' %}
                                <span><a href="{% url 'duediligence_pdf' folder=paths.diligence_report_path filename=form.supply_chain_due_diligence_report.value %}">View</a></span>
                            {% endif %}
                        </label>
                        {{ form.declaration_of_conformity }}
                        {{ form.declaration_of_conformity.errors }}
                    </div>
                    <div class="mb-3">
                        <label for="result_of_test_report" class="form-label">
                            Result of Test Report
                            {% if form_type == 'edit' %}
                                <span><a href="{% url 'duediligence_pdf' folder=paths.third_party_assurances_path filename=form.third_party_assurances.value %}">View</a></span>
                            {% endif %}
                        </label>
                        {{ form.result_of_test_report }}
                        {{ form.result_of_test_report.errors }}
                    </div>
                    <div class="mb-3">
                        {% comment %} {{ formset.management_form }}
                        <table class='no_error'>
                            {% for form in formset %}
                                <div class="table">
                                    {{form}}
                                </div>
                            {% endfor %}
                        </table> {% endcomment %}
                        <label for="labels" class="form-label">
                            Labels
                        </label>
                        {{ form.labels }}
                        {{ form.labels.errors }}
                    </div>
                    <button type="submit" class="btn btn-primary d-flex align-items-center"><i class="me-2">{% bs_icon 'floppy-fill' size='1em' %}</i>Submit</button>
                </form>
                {{ form.media }}
            </div>
        </div>
    </div>
</div>