{% extends "list_base.html" %}
{% load bootstrap_icons %}

{% block form_url %}{{'form/'}}{% endblock %}

{% block list_app_name %}{% include 'nav/list_app_name.html' with list_app_name='Labeling' %}{% endblock list_app_name %}

{% block list_content %}
  {% for item in data.object_list %}
  <h5 class="card-title">Labeling {{item.insert_date}}</h5>
  {% for label in item.labels.all %}
    <p class="card-text">{{label.labeling_meaning}}</p>
  {% endfor %}
  <small class="text-muted">Last updated {{item.update_date}}</small>
  <div class="d-flex flex-column flex-sm-row justify-content-start mb-5 mt-3 gap-2">
    <a href="{% url 'duediligence_pdf' folder=paths.declaration_path filename=item.declaration_of_conformity %}" class="btn btn-info d-flex align-items-center">
      <i class="me-2">{% bs_icon 'file-earmark-text-fill' size='1em' %}</i>
      View Declaration Of Conformity
    </a>
    <a href="{% url 'duediligence_pdf' folder=paths.result_of_test_path filename=item.result_of_test_report %}" class="btn btn-info d-flex align-items-center">
      <i class="me-2">{% bs_icon 'file-earmark-text-fill' size='1em' %}</i>
      View Result of Test Report
    </a>
    <a class="btn btn-warning d-flex align-items-center" href="form/{{item.id}}">
      <i class="me-2">{% bs_icon 'pencil-square' size='1em' %}</i>
      Update</a>
    <a class="btn btn-danger d-flex align-items-center" href="delete/{{item.id}}">
      <i class="me-2">{% bs_icon 'trash-fill' size='1em' %}</i>
      Delete</a>
  </div>
  {% endfor %}
{% endblock list_content %}

{% block list_footer %}
{% include 'nav/list_footer.html' with data=data %}
{% endblock list_footer %}