<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battery Passport Details</title>
    {% load static %}
    {% load bootstrap5 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="container py-4">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-4">
            <div class="logo">Logo</div>
            <div class="d-flex align-items-center">
                <span class="me-3">Hi, Johndoe</span>
                <span>EN</span>
            </div>
        </header>

        <!-- Back Button -->
        <div class="mb-3">
            <a href="/summary/{{product.id}}" class="back-link">< Back to summary</a>
        </div>

        <!-- Passport Information -->
        <div class="passport-info mb-4">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span>Passport ID :  {{product.battery_passport_identifier}}</span>
                    <span class="verified-badge ms-2">✓ Verified</span>
                </div>
            </div>
        </div>

        <!-- Navigation Tabs -->
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <button class="nav-link active" data-section="general">General</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-section="materials">Materials Composition</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-section="performance">Performance</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-section="compliance">Compliance</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-section="supply">Supply Chain</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-section="circularity">Circularity</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-section="carbon">Carbon Footprint</button>
            </li>
        </ul>

        <!-- Main Content -->
        {% comment %} Don't know why, when I put other section after materials section, the added section just disappeared {% endcomment %}
        <div class="main-content p-3 mb-4 d-none" id="performance-section">
            <h4>Materials</h4>
            <p class="text-muted">Battery performance information</p>

            <div class="row p-2">
                <div class="col-md-12">
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-3">
                                <div class="spec-title">Status</div>
                                <div class="spec-value">{{product.battery_status}}</div>
                            </div>
    
                            <div class="col-md-3">
                                <div class="spec-title">Expected Lifetime</div>
                                <div class="spec-value">{{product.performance.battery_technical_properties.expected_lifetime}}</div>
                            </div>
    
                            <div class="col-md-3">
                                <div class="spec-title">Voltage (min-nominal-max)</div>
                                <div class="spec-value">{{product.performance.battery_technical_properties.minimum_voltage}}-{{product.performance.battery_technical_properties.nominal_voltage}}-{{product.performance.battery_technical_properties.maximum_voltage}} V DC
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="spec-title">Temperature Range</div>
                                <div class="spec-value">{{product.performance.battery_condition.temperature_information.time_extreme_low_temp}}C to {{product.performance.battery_condition.temperature_information.time_extreme_high_temp}}C</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row py-2 mb-2 spec-row-strip-light rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-3">
                                <div class="spec-title">Material Flow Aggregation</div>
                                <div class="spec-value">Individual Battery</div>
                            </div>
    
                            <div class="col-md-3">
                                <div class="spec-title">Interoperability</div>
                                <div class="spec-value">(0/3) low</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content p-3 mb-4 d-none" id="compliance-section">
            <h4>Compliance</h4>
            <p class="text-muted">Regulatory compliance of the battery</p>

            <div class="row p-2 py-2 mb-2">
                <div class="col-md-12 p-2 spec-row-strip-dark rounded">
                    <div class="d-flex flex-wrap">
                        <div class="col-md-3">
                            <div class="spec-title">Conformity Assessment</div>
                            <button class="btn btn-outline-success">Open Link</button>
                        </div>
    
                        <div class="col-md-3">
                            <div class="spec-title">Interoperability</div>
                            <button class="btn btn-outline-success">Open Link</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content p-3 mb-4 d-none" id="supply-section">
            <h4>Supply Chain</h4>
            <p class="text-muted">Supply chain information</p>

            <div class="row p-2 py-2 mb-2">
                <div class="col-md-12 p-2 spec-row-strip-dark rounded">
                    <div class="d-flex flex-wrap">
                        <div class="col-md-3">
                            <div class="spec-title">Sustainability Report</div>
                            <button class="btn btn-outline-success">Open Link</button>
                        </div>
    
                        <div class="col-md-3">
                            <div class="spec-title">Due Diligence Report</div>
                            <button class="btn btn-outline-success">Open Link</button>
                        </div>

                        <div class="col-md-3">
                            <div class="spec-title">Third Party Audit</div>
                            <button class="btn btn-outline-success">Open Link</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content p-3 mb-4 d-none" id="circularity-section">
            <h4>Circularity</h4>
            <p class="text-muted">Circularity of the battery</p>

            <div class="row p-2">
                <div class="col-md-12">
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-3">
                                <div class="spec-title">Separate Collection</div>
                                <div class="spec-value">Ensure that the waste battery is disposed of according to material composition</div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 mb-2 spec-row-strip-light rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-3">
                                <div class="spec-title">End of Life Information. Waste Prevention</div>
                                <div class="spec-value">Don't dispose battery at normal waste</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-2 mb-2">
                <div class="summary-card" id="recycled-collapse" onclick="toggleContent('recycledContent', 'arrow-recycled')">
                    <div class="summary-title">Recycled Content Share</div>
                    <div class="arrow-indicator" id="arrow-recycled">▲</div>
                    <div class="recycled-chart mt-4" id="recycledContent">
                        <div class="recycled-item">
                            <div class="recycled-donut" style="background-color: rgba(142, 209, 168, 0.1);">
                                <div class="text-center position-absolute top-50 start-50 translate-middle">
                                    <div style="font-weight: bold;">NICKEL</div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="small text-muted">30%</div>
                                <div class="small text-muted">15%</div>
                                <div class="small text-muted">55%</div>
                            </div>
                        </div>
                        <div class="recycled-item">
                            <div class="recycled-donut" style="background-color: rgba(142, 209, 168, 0.1);">
                                <div class="text-center position-absolute top-50 start-50 translate-middle">
                                    <div style="font-weight: bold;">COBALT</div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="small text-muted">30%</div>
                                <div class="small text-muted">15%</div>
                                <div class="small text-muted">55%</div>
                            </div>
                        </div>
                        <div class="recycled-item">
                            <div class="recycled-donut" style="background-color: rgba(142, 209, 168, 0.1);">
                                <div class="text-center position-absolute top-50 start-50 translate-middle">
                                    <div style="font-weight: bold;">LITHIUM</div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="small text-muted">30%</div>
                                <div class="small text-muted">15%</div>
                                <div class="small text-muted">55%</div>
                            </div>
                        </div>
                        <div class="recycled-item">
                            <div class="recycled-donut" style="background-color: rgba(142, 209, 168, 0.1);">
                                <div class="text-center position-absolute top-50 start-50 translate-middle">
                                    <div style="font-weight: bold;">LEAD</div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <div class="small text-muted">30%</div>
                                <div class="small text-muted">15%</div>
                                <div class="small text-muted">55%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content p-3 mb-4 d-none" id="carbon-section">
            <h4>Carbon Footprint</h4>
            <p class="text-muted">CO2 footprint generated by the battery</p>

            <div class="row p-2">
                <div class="col-md-12">
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="col-md-4">
                            <div class="spec-title">Amount</div>
                            <div class="spec-value">137.00gCO2e/kWh</div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex flex-wrap">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="summary-title">Carbon Footprint</div>
                                    <div class="arrow-indicator" id="arrow-carbon-footprint">▲</div>
                                </div>
                                <div class="chart-container" id="carbonFootprintContent">
                                    <div class="donut-chart" style="background-color: rgba(142, 209, 168, 0.1);">
                                        <div class="text-center position-absolute top-50 start-50 translate-middle">
                                            <div style="font-size: 0.8rem; color: #666;">7%</div>
                                            <div style="font-size: 0.8rem; color: #666;">15%</div>
                                            <div style="font-size: 0.8rem; color: #666;">23%</div>
                                            <div style="font-size: 0.8rem; color: #666;">55%</div>
                                        </div>
                                        <div class="position-absolute start-0 end-0 text-center" style="top: -20px;">
                                            <div class="small text-muted">recycling</div>
                                            <div class="small text-muted">8gCO2e/kWh</div>
                                        </div>
                                        <div class="position-absolute start-0 end-0 text-center" style="bottom: -20px;">
                                            <div class="small text-muted">raw material extraction</div>
                                            <div class="small text-muted">69gCO2e/kWh</div>
                                        </div>
                                        <div class="position-absolute" style="left: -90px; top: 50%; transform: translateY(-50%);">
                                            <div class="small text-muted">main production</div>
                                            <div class="small text-muted">30gCO2e/kWh</div>
                                        </div>
                                        <div class="position-absolute" style="right: -90px; top: 50%; transform: translateY(-50%);">
                                            <div class="small text-muted">distribution</div>
                                            <div class="small text-muted">19gCO2e/kWh</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="spec-title">Sustainability Report</div>
                            <button class="btn btn-outline-success">Open Link</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content p-3 mb-4" id="general-section">
            <h4>General</h4>
            <p class="text-muted">Generic information about the battery</p>

            <div class="row p-2">
                <div class="col-md-9">
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-4">
                                <div class="spec-title">Serial Number</div>
                                <div class="spec-value">{{product.product_identifier}}</div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="spec-title">Model Number</div>
                                <div class="spec-value">{{product.battery_id}}</div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="spec-title">Category</div>
                                <div class="spec-value">{{product.battery_category|upper}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 mb-2 spec-row-strip-light rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-4">
                                <div class="spec-title">Weight</div>
                                <div class="spec-value">{{product.battery_mass}}</div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="spec-title">Status</div>
                                <div class="spec-value">{{product.battery_status}}</div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="spec-title">Total Energy</div>
                                <div class="spec-value">100 kWh</div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-4">
                                <div class="spec-title">Manufacture Date</div>
                                <div class="spec-value">{{product.manufacturing_date}}</div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="spec-title">Manufactured By</div>
                                <div class="spec-value">{{product.manufacturer_information.company_name}}</div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="spec-title">Country of Battery Production</div>
                                <div class="spec-value">{{product.manufacturer_information.address.country}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 mb-2 spec-row-strip-light rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-4">
                                <div class="spec-title">Battery Cell Producer</div>
                                <div class="spec-value">{{product.battery_cell.manufacturer.company_name}}</div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="spec-title">Country of Cell Production</div>
                                <div class="spec-value">{{product.battery_cell.manufacturer.address.country}}</div>
                            </div>
    
                            <div class="col-md-4">
                                <div class="spec-title">Battery Cell Type</div>
                                <div class="spec-value">{{product.battery_cell.cell_type}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-4">
                                <div class="spec-title">Number of cells per battery</div>
                                <div class="spec-value">{{product.battery_cell.number_of_cells}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="image-placeholder" style="flex:1;">
                        QR
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content p-3 mb-4 d-none" id="materials-section">
            <h4>Materials</h4>
            <p class="text-muted">Material composition of the battery</p>

            <div class="row p-2">
                <div class="col-md-12">
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-3">
                                <div class="spec-title">Traceability</div>
                                
                                {% if product.material_composition.traceability %}
                                    <div class="spec-value">Yes</div>
                                {% else %}
                                    <div class="spec-value">No</div>
                                {% endif %}
                                    
                            </div>
    
                            <div class="col-md-3">
                                <div class="spec-title">Tracing Period Start</div>
                                <div class="spec-value">{{product.material_composition.tracing_period_start}}</div>
                            </div>
    
                            <div class="col-md-3">
                                <div class="spec-title">Tracing Period End</div>
                                <div class="spec-value">{{product.material_composition.tracing_period_end}}</div>
                            </div>
                            <div class="col-md-3">
                                <div class="spec-title">Battery Chemistry</div>
                                <div class="spec-value">{{product.material_composition.battery_chemistry}}</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row py-2 mb-2 spec-row-strip-light rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-3">
                                <div class="spec-title">First Traced Material</div>
                                <div class="spec-value">{{product.material_composition.first_traced_material}}</div>
                            </div>
    
                            <div class="col-md-3">
                                <div class="spec-title">Second Traced Material</div>
                                <div class="spec-value">{{product.material_composition.second_traced_material}}</div>
                            </div>
    
                            <div class="col-md-3">
                                <div class="spec-title">Physical Amount</div>
                                <div class="spec-value">{{product.material_composition.physical_amount}}</div>
                            </div>
                            <div class="col-md-3">
                                <div class="spec-title">Traced Amount</div>
                                <div class="spec-value">{{product.material_composition.traced_amount}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-3">
                                <div class="spec-title">Country</div>
                                <div class="spec-value">{{product.material_composition.manufacturer.address.country}}</div>
                            </div>
        
                            <div class="col-md-3">
                                <div class="spec-title">ESG Performance</div>
                                <div class="spec-value">{{product.material_composition.esg_performance_summary}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/header-ex.js' %}"></script>
</body>
</html>