<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battery Passport Search</title>
    {% load static %}
    {% load bootstrap5 %}
    {% load bootstrap_icons %}
    {% load render_table from django_tables2 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container py-4">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-5">
            <div class="logo">Logo</div>
            <div class="d-flex align-items-center">
                <span class="me-3">Hi, Johndoe</span>
                <span>EN</span>
            </div>
        </header>

        <div class="container">
            <div class="search-container">
                <h4 class="search-heading">Scan a battery pass QR code, or manually enter a battery ID to proceed</h4>
                <form method="get">
                    <div class="input-group">
                        <input type="text" id="searchInput" name="search" value="{{ search_query }}" class="form-control">
                        <div class="input-group-append">
                            <a class="btn btn-outline-secondary" id="qr-scan-button">
                                <i class="fa-solid fa-qrcode"></i>
                            </a>
                            
                            <input type="file" id="file-upload" style="display: none;">

                            <input type="file" id="qr-image-upload" accept="image/*">
                            <div id="qr-result"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="cameraFeed" style="width:200px;height=200px">

        </div>

        <div class="d-none d-md-block">
            <div class="container">
                <!-- Search Section -->
                <div class="row">
                    <div class="col-12">
                        {% render_table table %}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-md-none">
            <div class="container">
                {% for row in table.rows %}
                
                    <div class="card">
                        <div class="card-body">
                            <h5>{{ row.record.battery_passport_identifier }}</h5>
                            <p>{{ row.record.battery_category }}</p>
                            <p>{{ row.record.manufacturing_date }}</p>
                            <a href="/summary/{{row.record.id}}" class="btn btn-sm" style="background-color: #8ed1a8; border-color: #8ed1a8; color: white;">Summary</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="{% static 'js/battsearch.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js "></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const qrScanButton = document.getElementById('qr-scan-button');
            const fileUpload = document.getElementById('qr-result');
            const cameraFeed = document.getElementById('cameraFeed');

        
            qrScanButton.addEventListener('click', function() {
                if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                    // Check for camera availability
                    navigator.mediaDevices.getUserMedia({ video: true })
                        .then(function(stream) {
                            const video = document.createElement('video');
                            video.srcObject = stream;
                            video.play();

                            video.addEventListener('loadedmetadata', function() {
                                const canvas = document.createElement('canvas');
                                const context = canvas.getContext('2d');
                                canvas.width = video.videoWidth;
                                canvas.height = video.videoHeight;

                                function scanQRCode() {
                                    context.drawImage(video, 0, 0, canvas.width, canvas.height);
                                    const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
                                    const code = jsQR(imageData.data, imageData.width, imageData.height);

                                    if (code) {
                                        window.location.href = code.data;
                                        console.log('QR code detected:', code.data);
                                        stream.getTracks().forEach(track => track.stop());
                                    } else {
                                        requestAnimationFrame(scanQRCode);
                                    }
                                }

                                requestAnimationFrame(scanQRCode);
                            });
                        })
                        .catch(function(error) {
                            // Camera is not available, open file explorer
                            console.log(error);
                            console.log('Camera not available, open file explorer.');
                            fileUpload.click(); // Trigger the file input
                        });
                } else {
                    // navigator.mediaDevices is not available, open file explorer
                    console.log('navigator.mediaDevices is not available, open file explorer.');
                    fileUpload.click(); // Trigger the file input
                }
            });
        });
    </script>

    {% comment %} qr upload {% endcomment %}
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const fileInput = document.getElementById('qr-image-upload');
            const qrResultDiv = document.getElementById('qr-result');

            fileInput.addEventListener('change', function(event) {
                const file = event.target.files[0];
                if (file) {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        const img = new Image();
                        img.onload = function() {
                            const canvas = document.createElement('canvas');
                            canvas.width = img.width;
                            canvas.height = img.height;
                            const ctx = canvas.getContext('2d');
                            ctx.drawImage(img, 0, 0);

                            const imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
                            const code = jsQR(imageData.data, imageData.width, imageData.height);

                            if (code) {
                                qrResultDiv.textContent = 'QR Code Result: ' + code.data;
                                window.location.href = code.data;
                            } else {
                                qrResultDiv.textContent = 'QR code not found.';
                            }
                        };
                        img.src = e.target.result;
                    };

                    reader.readAsDataURL(file);
                }
            });
        });
    </script>
</body>
</html>