{% extends 'base.html' %}
{% load static %}

{% block title %}Battery Passports{% endblock title %}

{% block extra_head %}
    {% load render_table from django_tables2 %}
{% endblock extra_head %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_styles %}

{% block content %}
    <div class="container py-4">
        <!-- Header -->
        {% include 'nav/nav_header.html' %}

        <div class="container">
            <div class="search-container">
                <h4 class="search-heading">Scan a battery pass QR code, or manually enter a battery ID to proceed</h4>
                <form method="get">
                    <div class="input-group">
                        <input type="text" id="searchInput" name="search" value="{{ search_query }}" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#qrPopup">
                                <i class="fa-solid fa-qrcode"></i>
                            </button>
                            
                            {% comment %} <input type="file" id="file-upload" style="display: none;">

                            <input type="file" id="qr-image-upload" accept="image/*">
                            <div id="qr-result"></div> {% endcomment %}
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal fade" id="qrPopup" tabindex="-1" aria-labelledby="qrPopupLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="qrPopupLabel">Scan a battery pass QR code</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id=cameraFeed class="modal-body">
                        <div style="background-color: #495057; height: 200px; margin-bottom: 20px;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="qr-scan-button" type="button" class="btn btn-green">Start scanning</button>
                        <p><button id="qr-image-upload-button" type="button" class="btn btn-outline-success">Scan an image file</button></p>
                        <input type="file" id="qr-image-upload" accept="image/*" style="display: none;">
                        <div id="qr-result"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-none d-md-block">
            <div class="container">
                <!-- Search Section -->
                <div class="row">
                    <div class="col-12">
                        {% render_table table %}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-md-none">
            <div class="container">
                {% for row in table.rows %}
                
                    <div class="card">
                        <div class="card-body">
                            <h5>{{ row.record.battery_passport_identifier }}</h5>
                            <p>{{ row.record.battery_category }}</p>
                            <p>{{ row.record.manufacturing_date }}</p>
                            <a href="/summary/{{row.record.id}}" class="btn btn-sm" style="background-color: #8ed1a8; border-color: #8ed1a8; color: white;">Summary</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js "></script>
    <script src="{% static 'js/battsearch.js' %}"></script>
    <script src="{% static 'js/qrs.js' %}"></script>
{% endblock extra_scripts %}