<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battery Passport Search</title>
    {% load static %}
    {% load bootstrap5 %}
    {% load bootstrap_icons %}
    {% load render_table from django_tables2 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container py-4">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-5">
            <div class="logo">Logo</div>
            <div class="d-flex align-items-center">
                <span class="me-3">Hi, Johndoe</span>
                <span>EN</span>
            </div>
        </header>

        <!-- Search Section -->
        <div class="search-container">
            <h4 class="search-heading">Scan a battery pass QR code, or manually enter a battery ID to proceed</h4>
            <div class="input-group">
                <input type="text" placeholder="Search..." class="form-control">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary">
                        {% bs_icon 'search' size='1em' %}
                    </button>
                </div>
            </div>
        </div>

        {% render_table table %}
    </div>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</body>
</html>