{% extends "base.html" %}
{% load static %}

{% block title %}Battery Details{% endblock title %}


{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
{% endblock extra_styles %}

{% block content %}
    <div class="container py-4">
        <!-- Header -->
        <header class="d-flex justify-content-between align-items-center mb-4">
            <div class="logo">Logo</div>
            <div class="d-flex align-items-center">
                <span class="me-3">Hi, Johndoe</span>
                <span>EN</span>
            </div>
        </header>

        <!-- Back Button -->
        <div class="mb-3">
            <a href="/summary/{{product.id}}" class="back-link">< Back to summary</a>
        </div>

        <!-- Passport Information -->
        <div class="passport-info mb-4">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span>Passport ID :  {{product.battery_passport_identifier}}</span>
                    <span class="verified-badge ms-2">✓ Verified</span>
                </div>
            </div>
        </div>

        <!-- Navigation Tabs -->
        <ul class="nav nav-tabs mb-4 flex-column flex-md-row w-100">
            <li class="nav-item">
                <button class="nav-link active" data-section="general">General</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-section="materials">Materials Composition</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-section="performance">Performance</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-section="compliance">Compliance</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-section="supply">Supply Chain</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-section="circularity">Circularity</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-section="carbon">Carbon Footprint</button>
            </li>
        </ul>

        <!-- Main Content -->
        {% comment %} Don't know why, when I put other section after materials section, the added section just disappeared {% endcomment %}
        <div class="main-content p-3 mb-4 d-none" id="performance-section">
            <h4>Performance</h4>
            <p class="text-muted">Battery performance information</p>

            <div class="row p-2">
                <div class="col-12">
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-6 col-md-3 mb-2 mb-md-0">
                                <div class="spec-title">Status</div>
                                <div class="spec-value">{{product.battery_status}}</div>
                            </div>
                            <div class="col-6 col-md-3 mb-2 mb-md-0">
                                <div class="spec-title">Expected Lifetime</div>
                                <div class="spec-value">{{product.performance.battery_technical_properties.expected_lifetime}}</div>
                            </div>
                            <div class="col-12 col-md-3 mb-2 mb-md-0">
                                <div class="spec-title">Voltage (min-nominal-max)</div>
                                <div class="spec-value">{{product.performance.battery_technical_properties.minimum_voltage}}-{{product.performance.battery_technical_properties.nominal_voltage}}-{{product.performance.battery_technical_properties.maximum_voltage}} V DC</div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="spec-title">Temperature Range</div>
                                <div class="spec-value">{{product.performance.battery_condition.temperature_information.time_extreme_low_temp}}C to {{product.performance.battery_condition.temperature_information.time_extreme_high_temp}}C</div>
                            </div>
                        </div>
                    </div>
            
                    <div class="row py-2 mb-2 spec-row-strip-light rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-6 col-md-3 mb-2 mb-md-0">
                                <div class="spec-title">Material Flow Aggregation</div>
                                <div class="spec-value">{{product.performance.material_flow_aggregation}}</div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="spec-title">Interoperability</div>
                                <div class="spec-value">{{product.performance.interoperability}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content p-3 mb-4 d-none" id="compliance-section">
            <h4>Compliance</h4>
            <p class="text-muted">Regulatory compliance of the battery</p>

            <div class="row p-2 py-2 mb-2">
                <div class="col-12 p-2 spec-row-strip-dark rounded">
                    <div class="d-flex flex-wrap">
                        <div class="col-12 col-md-3 mb-2 mb-md-0">
                            <div class="spec-title">Conformity Assessment</div>
                            <a href="{% url 'view_pdf' folder=declaration_of_conformity filename=product.label.declaration_of_conformity %}" class="btn btn-outline-success">Open Link</a>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="spec-title">Interoperability</div>
                            <a href="{% url 'view_pdf' folder=interoperability filename=product.performance.interoperability_document %}" class="btn btn-outline-success">Open Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content p-3 mb-4 d-none" id="supply-section">
            <h4>Supply Chain</h4>
            <p class="text-muted">Supply chain information</p>

            <div class="row p-2 py-2 mb-2">
                <div class="col-md-12 p-2 spec-row-strip-dark rounded">
                    <div class="d-flex flex-wrap">
                        <div class="col-12 col-md-3 mb-2 mb-md-0">
                            <div class="spec-title">Sustainability Report</div>
                            <a href="{% url 'view_pdf' folder=supply_chain_due_diligence_report filename=product.due_diligence.supply_chain_due_diligence_report %}" class="btn btn-outline-success">Open Link</a>
                        </div>

                        <div class="col-12 col-md-3 mb-2 mb-md-0">
                            <div class="spec-title">Due Diligence Report</div>
                            <a href="{% url 'view_pdf' folder=third_party_assurances filename=product.due_diligence.third_party_assurances %}" class="btn btn-outline-success">Open Link</a>
                        </div>

                        <div class="ccol-12 col-md-3">
                            <div class="spec-title">Third Party Audit</div>
                            <a href="{% url 'view_pdf' folder=sustainability_report filename=product.due_diligence.sustainability_report %}" class="btn btn-outline-success">Open Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content p-3 mb-4 d-none" id="circularity-section">
            <h4>Circularity</h4>
            <p class="text-muted">Circularity of the battery</p>

            <div class="row p-2">
                <div class="col-md-12">
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-3">
                                <div class="spec-title">Separate Collection</div>
                                <a href="{% url 'view_pdf' folder=waste_prevention filename=product.circularity.end_of_life_information.waste_prevention %}" class="btn btn-outline-success">Open Link</a>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 mb-2 spec-row-strip-light rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-md-3">
                                <div class="spec-title">End of Life Information. Waste Prevention</div>
                                <a href="{% url 'view_pdf' folder=separate_collection filename=product.circularity.end_of_life_information.separate_collection %}" class="btn btn-outline-success">Open Link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row py-2 mb-2">
                <div class="summary-card" id="recycled-collapse" onclick="toggleContent('recycledContent', 'arrow-recycled')">
                    <div class="summary-title">Recycled Content Share</div>
                    <div class="arrow-indicator" id="arrow-recycled">▲</div>
                    <div class="mt-4" id="recycledContent">
                        <div class="mt-4 p-4">
                            <div class="row justify-content-center mb-4">
                                <div class="col-md-5 mx-2">
                                    <p>Recycled Content Nickel</p>
                                    <div class="h-75">
                                        <canvas id="recycled_content_nickel_fig"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-5 mx-2">
                                    <p>Recycled Content Cobalt</p>
                                    <div class="h-75">
                                        <canvas id="recycled_content_cobalt_fig"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div style="height:20px"></div>
                            <div class="row justify-content-center mt-4">
                                <div class="col-md-5 mx-2">
                                    <p>Recycled Content Lithium</p>
                                    <div class="h-75">
                                        <canvas id="recycled_content_lithium_fig"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-5 mx-2">
                                    <p>Recycled Content Lead</p>
                                    <div class="h-75">
                                        <canvas id="recycled_content_lead_fig"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content p-3 mb-4 d-none" id="carbon-section">
            <h4>Carbon Footprint</h4>
            <p class="text-muted">CO2 footprint generated by the battery</p>

            <div class="row p-2">
                <div class="col-md-12">
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="col-md-2">
                            <div class="spec-title">Amount</div>
                            <div class="spec-value">{{product.carbon_footprint.battery_carbon_footprint}}</div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-wrap">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="summary-title">Carbon Footprint</div>
                                </div>
                                <div class="chart-container">
                                    {{carbon_footprint_fig|safe}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="spec-title">Carbon Footprint Study</div>
                            <a href="{% url 'view_pdf' folder=carbon_footprint_study filename=product.carbon_footprint.carbon_footprint_study %}" class="btn btn-outline-success">Open Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content p-3 mb-4" id="general-section">
            <h4>General</h4>
            <p class="text-muted">Generic information about the battery</p>

            <div class="row p-2">
                <div class="col-12 col-md-9"> <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-6 col-md-4 mb-2 mb-md-0"> <div class="spec-title">Serial Number</div>
                                <div class="spec-value">{{product.product_identifier}}</div>
                            </div>
                            <div class="col-6 col-md-4 mb-2 mb-md-0">
                                <div class="spec-title">Model Number</div>
                                <div class="spec-value">{{product.battery_model_number}}</div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="spec-title">Category</div>
                                <div class="spec-value">{{product.battery_category|upper}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 mb-2 spec-row-strip-light rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-6 col-md-4 mb-2 mb-md-0">
                                <div class="spec-title">Weight</div>
                                <div class="spec-value">{{product.battery_mass}}</div>
                            </div>
                            <div class="col-6 col-md-4 mb-2 mb-md-0">
                                <div class="spec-title">Status</div>
                                <div class="spec-value">{{product.battery_status}}</div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="spec-title">Total Energy</div>
                                <div class="spec-value">{{product.performance.battery_technical_properties.rated_energy}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-6 col-md-4 mb-2 mb-md-0">
                                <div class="spec-title">Manufacture Date</div>
                                <div class="spec-value">{{product.manufacturing_date}}</div>
                            </div>
                            <div class="col-6 col-md-4 mb-2 mb-md-0">
                                <div class="spec-title">Manufactured By</div>
                                <div class="spec-value">{{product.manufacturer_information.company_name}}</div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="spec-title">Country of Battery Production</div>
                                <div class="spec-value">{{product.manufacturer_information.address.country.name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 mb-2 spec-row-strip-light rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-6 col-md-4 mb-2 mb-md-0">
                                <div class="spec-title">Battery Cell Producer</div>
                                <div class="spec-value">{{product.battery_cell.manufacturer.company_name}}</div>
                            </div>
                            <div class="col-6 col-md-4 mb-2 mb-md-0">
                                <div class="spec-title">Country of Cell Production</div>
                                <div class="spec-value">{{product.battery_cell.manufacturer.address.country.name}}</div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="spec-title">Battery Cell Type</div>
                                <div class="spec-value">{{product.battery_cell.cell_type}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-12">
                                <div class="spec-title">Number of cells per battery</div>
                                <div class="spec-value">{{product.battery_cell.number_of_cells}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center"> <img src="{{product.qr_code}}" alt="QR Code" class="img-fluid"> </div>
            </div>
        </div>
        <div class="main-content p-3 mb-4 d-none" id="materials-section">
            <h4>Materials</h4>
            <p class="text-muted">Material composition of the battery</p>

            <div class="row p-2">
                <div class="col-12"> <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-6 col-md-3 mb-2 mb-md-0"> <div class="spec-title">Traceability</div>
                                {% if product.material_composition.traceability %}
                                    <div class="spec-value">Yes</div>
                                {% else %}
                                    <div class="spec-value">No</div>
                                {% endif %}
                            </div>
                            <div class="col-6 col-md-3 mb-2 mb-md-0">
                                <div class="spec-title">Tracing Period Start</div>
                                <div class="spec-value">{{product.material_composition.tracing_period_start}}</div>
                            </div>
                            <div class="col-6 col-md-3 mb-2 mb-md-0">
                                <div class="spec-title">Tracing Period End</div>
                                <div class="spec-value">{{product.material_composition.tracing_period_end}}</div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="spec-title">Battery Chemistry</div>
                                <div class="spec-value">{{product.material_composition.battery_chemistry}}</div>
                            </div>
                        </div>
                    </div>
            
                    <div class="row py-2 mb-2 spec-row-strip-light rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-6 col-md-3 mb-2 mb-md-0">
                                <div class="spec-title">First Traced Material</div>
                                <div class="spec-value">{{product.material_composition.first_traced_material}}</div>
                            </div>
                            <div class="col-6 col-md-3 mb-2 mb-md-0">
                                <div class="spec-title">Second Traced Material</div>
                                <div class="spec-value">{{product.material_composition.second_traced_material}}</div>
                            </div>
                            <div class="col-6 col-md-3 mb-2 mb-md-0">
                                <div class="spec-title">Physical Amount</div>
                                <div class="spec-value">{{product.material_composition.physical_amount}}</div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="spec-title">Traced Amount</div>
                                <div class="spec-value">{{product.material_composition.traced_amount}}</div>
                            </div>
                        </div>
                    </div>
            
                    <div class="row py-2 mb-2 spec-row-strip-dark rounded">
                        <div class="d-flex flex-wrap">
                            <div class="col-6 col-md-3 mb-2 mb-md-0">
                                <div class="spec-title">Country</div>
                                <div class="spec-value">{{product.material_composition.manufacturer.address.country.name}}</div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="spec-title">ESG Performance</div>
                                <div class="spec-value">{{product.material_composition.esg_performance_summary}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>    
{% endblock content %}


{% block extra_scripts %}
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/header-ex.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script>
        const recycled_content_nickel_ctx = document.getElementById('recycled_content_nickel_fig').getContext('2d');
        const recycled_content_cobalt_ctx = document.getElementById('recycled_content_cobalt_fig').getContext('2d');
        const recycled_content_lithium_ctx = document.getElementById('recycled_content_lithium_fig').getContext('2d');
        const recycled_content_lead_ctx = document.getElementById('recycled_content_lead_fig').getContext('2d');
        //const carbon_footprint_ctx = document.getElementById('carbon_footprint_fig').getContext('2d');

        const color = ['#a5dfc1', '#dbdbdb', '#7dada6', '#b5b5b5'];
        
        const recycled_content_nickel_fig = createPieChart(recycled_content_nickel_ctx, 
        {{recycled_content_names|safe}}, 
        {{cobalt_values|safe}}, 
        color)

        const recycled_content_cobalt_fig = createPieChart(recycled_content_cobalt_ctx, 
        {{recycled_content_names|safe}}, 
        {{lithium_values|safe}}, 
        color)

        const recycled_content_lithium_fig = createPieChart(recycled_content_lithium_ctx, 
        {{recycled_content_names|safe}}, 
        {{nickel_values|safe}}, 
        color)

        const recycled_content_lead_fig = createPieChart(recycled_content_lead_ctx, 
        {{recycled_content_names|safe}}, 
        {{lead_values|safe}}, 
        color)

        //const carbon_footprint_fig = createPieChart(carbon_footprint_ctx, 
        //{{carbon_footprint_names|safe}}, 
        //{{carbon_footprint_values|safe}}, 
        //color)
    </script>
{% endblock extra_scripts %}