{% extends 'form_base.html' %}

{% load bootstrap_icons %}

{% block back_url %}{{'/carbonfootprints'}}{% endblock %}

{% block app_name %}
{% include 'nav/form_app_name.html' with form_type=form_type app_name="Carbon Footprint"%}
{% endblock app_name %}

{% block form_content %}
<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {%if message is not None %}
        <h1>{{ message }}</h1>
    {% endif %}
    {% for row in field_rows %}
        <div class="row">
            <div class="col-md-6 col-sm-12 mb-2">
                {% for field in row.left_fields %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-6 col-sm-12 mb-2">
                {% for field in row.right_fields %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary d-flex align-items-center"><i class="me-2">{% bs_icon 'floppy-fill' size='1em' %}</i>Submit</button>
</form>
{{form.media}}
{% endblock form_content %}
    
