{% extends "list_base.html" %}
{% load bootstrap_icons %}

{% block form_url %}{{'form/'}}{% endblock %}

{% block list_app_name %}{% include 'nav/list_app_name.html' with list_app_name='Carbon Footprint Lifecycles' %}{% endblock list_app_name %}

{% block list_content %}
  {% comment %} {% for item in data.object_list %}
    <div class="row">
      <h5 class="card-title">Carbon Footprint Lifecycle {{item.insert_date}}</h5>
    </div>
    <div class="row">
      <p class="card-text">{{item.lifecycle_stage}}</p>
    </div>
    <p class="card-text">Carbon footprint : {{item.carbon_footprint}}</p>
    <small class="text-muted">Last updated {{item.update_date}}</small>
    <div class="d-flex flex-column flex-sm-row justify-content-start mb-5 mt-3 gap-2">
      <a class="btn btn-warning d-flex align-items-center" href="form/{{item.id}}">
        <i class="me-2">{% bs_icon 'pencil-square' size='1em' %}</i>
        Update</a>
      <a class="btn btn-danger d-flex align-items-center" href="delete/{{item.id}}">
        <i class="me-2">{% bs_icon 'trash-fill' size='1em' %}</i>
        Delete</a>
    </div>
  {% endfor %} {% endcomment %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Insert Date</th>
          <th scope="col">Lifecycle Stage</th>
          <th scope="col">Carbon Footprint</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data.object_list %}
        <tr>
          <th scope="row">{{ item.insert_date }}</th>
          <td>{{ item.lifecycle_stage }}</td>
          <td>{{ item.carbon_footprint }}</td>
          <td>{{ item.update_date }}</td>
          <td>
            <div class="d-flex gap-2">
              <a class="btn btn-warning btn-sm d-flex align-items-center" href="form/{{ item.id }}">
                <i class="me-1">{% bs_icon 'pencil-square' size='1em' %}</i>
                Update
              </a>
              <a class="btn btn-danger btn-sm d-flex align-items-center" href="delete/{{ item.id }}">
                <i class="me-1">{% bs_icon 'trash-fill' size='1em' %}</i>
                Delete
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock list_content %}


{% block list_footer %}
{% include 'nav/list_footer.html' with data=data %}
{% endblock list_footer %}
  
  
