{% extends 'form_base.html' %}

{% load bootstrap_icons %}

{% block back_url %}{{'/carbonfootprints/lifecycles'}}{% endblock %}

{% block app_name %}
{% include 'nav/form_app_name.html' with form_type=form_type app_name="Carbon Footprint Lifecycle"%}
{% endblock app_name %}

{% block form_content %}
<form method='post'>
    {% csrf_token %}
    {%if message is not None %}
        <h1>{{ message }}</h1>
    {% endif %}
    {% for field in form %}
        <div class="mb-3">
            {{field.label}}
            {{field}}
            {{field.errors}}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary d-flex align-items-center"><i class="me-2">{% bs_icon 'floppy-fill' size='1em' %}</i>Submit</button>
</form>
{% endblock form_content %}
    
